.hero {
    text-align: center;
    justify-content: center;

    &__content {
        max-width: 640px;

        .title--small {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }
    }
}